        .container {
            max-width: 42rem;
            padding-top: 2rem;
        }

        a {
            cursor: pointer !important;
        }

        h1 {
            font-weight: 400;
            font-size: 22px;
        }

        .signForm {
            max-width: 60%;
            padding-top: 3rem;
            /*margin: 0 auto;*/
        }

        #regForm {
            display: none;
            max-width: 60%;
            padding-top: 3rem;
            /*margin: 0 auto;*/
        }

        @keyframes shake {
            10%,
            90% {
                transform: translate3d(-1px, 0, 0);
            }
            20%,
            80% {
                transform: translate3d(3px, 0, 0);
            }
            30%,
            50%,
            70% {
                transform: translate3d(-6px, 0, 0);
            }
            40%,
            60% {
                transform: translate3d(6px, 0, 0);
            }
        }

        .formError {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
        }

        #LoginError {
            display: none;
        }

        .alert-danger {
            background: none;
        }

        .hiddenSet {
            display: none;
        }